In [1]:
import sqlite3 as sql
'''
-->> connect()-> to create the database/ then open it 
-->> cursor() --> to operating on database
-->> execute() -->> to execute the sql statements
-->> commit() -->> to update the original database
-->> close()
'''
con = sql.connect('new.db')
con.close()

In [3]:
con = sql.connect('new.db')
cur = con.cursor()
cur.execute('CREATE TABLE t2(s_no,name)')
con.close()

In [4]:
con = sql.connect('new.db')
cur = con.cursor()
cur.execute('CREATE TABLE t3(s_no,name)')
con.close()

In [8]:
con = sql.connect('new.db')
cur = con.cursor()
cur.execute("Insert into t3 values(2,'anjan')")
con.commit()
con.close()

In [9]:
con = sql.connect('new.db')
cur = con.cursor()
cur.execute("Insert into t3 values(3,'aiman')")
con.commit()
con.close()

In [10]:
con = sql.connect('new.db')
cur = con.cursor()
cur.execute("UPDATE t3 set name ='sarath' where s_no =3")
con.commit()
con.close()

In [11]:
con = sql.connect('new.db')
cur = con.cursor()
cur.execute("SELECT * FROM t3")
for record  in cur.fetchall():
    print record
con.commit()
con.close()

(2, u'anjan')
(3, u'sarath')